body {
	scroll-behaviour: smooth;
}

:root {
    --primary-color: #011838;
    --secondary-color: #B6FCF8;
    --accent-color: #FFFB6D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--primary-color);
    color: var(--secondary-color);
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: var(--secondary-color);
    background: linear-gradient(100deg, hsla(215, 96%, 11%, 1) 0%, hsla(208, 100%, 15%, 1) 100%);
    background-size: 400% 400%;
    animation: change 50s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
   
}

h1,
h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}

em {
    font-style: normal;
    color: var(--accent-color);
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 2rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h3 {
      font-size: 5rem;
    }
  }

/* Nav-bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

/* resizing nav bar logos */
.my-logo,
.linkedin-logo,
.github-logo {
    cursor: pointer;
}

.my-logo {
    width: 40px;
    height: 40px;
}

.github-logo,
.linkedin-logo {
    width: 20px;
    height: 20px;
}

.linkedin-logo {
    margin-right: 10px;
}

@media screen and (min-width: 1024px) {

    header {
        padding: 25px 50px 25px 50px;
    }

    .my-logo {
        width: 50px;
        height: 50px;
    }

    .github-logo,
    .linkedin-logo {
        width: 25px;
        height: 25px;
    }

    .linkedin-logo {
        margin-right: 20px;
    }

}

/* typography and positioning nav bar content */
.nav-links {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 0px;
}

.nav-links li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .nav-links {
        font-size: 1.5rem;
    }

    .nav-links li {
        margin-left: 30px;
        margin-right: 30px;
    }

    /* nav links hover over effect */

    .nav-links li a {
        transition: all 0.2s ease-in 0s;
    }
    
    .nav-links li a:hover {
        color: var(--accent-color);
    
    }

}

/* button */

.main-button {
    width: 128px;
    height: 43px;
    background: #FFFB6D;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #000000;
    border: none;
}


@media screen and (min-width: 1024px) {
    .main-button {
        cursor: pointer;
        width: 128px;
        height: 43px;
        transition: all 0.2s ease-in 0s;
    }

    .main-button:hover {
        transition: all 0.2s ease-out 0s;
        background-color: #F6F000

    }
}

/* landing page */

/* NOTE: 
    main {
        margin: 0px auto;
        width: 100%;
        max-width; 1600px;
        min-height: 100vh;
        padding: 200px
    } to keep everything centered in the screen */

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

 
.landing-page {
    margin-top: 25px;
    height: fit-content;
}

.landing-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-text, h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.my-resume-btn {
    margin-top: 30px;
}

.landing-portrait {
    margin-top: 20px;
    width: 30vw;
}

.next-page-icon {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

@media screen and (min-width: 1024px) {

    .landing-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    .landing-text {
        align-items: flex-start;
    }

    .landing-grid {
        flex-direction: row;
    }

    .landing-text, h1 {
        text-align:left;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .landing-text, h3 {
        margin-top: 20px;
    }

    .landing-portrait {
        margin-top: 20px;
        width: 312px;
        height: 391px;
        position: relative;
    }

    .next-page-icon {
        cursor: pointer;
        visibility: visible;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }

}

/* About Me */
.about-section {
    padding-top: 50px;
    padding-bottom: 100px;
    height: 100vh;
}

.about-section h2 {
    text-align: center;
    padding-bottom: 40px;
}

.about-section p {
    line-height: 3rem;
}

.person-3d {
    width: 110px;

}

.about-mobile-view {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.about-mobile-view p {
    padding-top: 10px;
}

@media screen and (min-width: 820px) {
    .about-section {
        padding-top: 100px;
    }
    .about-section-grid {
        display: grid;
        grid-template-columns: 0.5fr 0.1fr 0.5fr;
    }

    .about-section p {
        font-size: 1.5rem;
    }

    .about-mobile-view p {
        padding-top: 0;

    }
    
    .person-3d {
        width: 250px;
    }

    .vertical-deco-line {
        margin: 0 auto;
        border: 3px solid #FFFB6D;
        background-color: var(--accent-color);
        border-radius: 40px;
        width: 10px;
        height: 420px;
        transform: rotate(180deg);
    }
}

/* Project section */
.project-section {
    padding-top: 300px; /* need to fix */
    padding-bottom: 100px;
    height: 100vh;

}

.project-section h2 {
    text-align: center;
    padding-bottom: 40px;
}
