body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #011838;
    --secondary-color: #B6FCF8;
    --accent-color: #FFFB6D;
    --default: #00112b;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--primary-color);
    color: var(--secondary-color);
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
    background-color: var(--default);
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: var(--secondary-color);
    background: linear-gradient(100deg, hsla(215, 96%, 11%, 1) 0%, hsla(183, 100%, 16%, 1) 100%);
}

@media  screen and (min-width: 1024px){
    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        color: var(--secondary-color);
        background: linear-gradient(100deg, hsla(215, 96%, 11%, 1) 0%, hsla(183, 100%, 16%, 1) 100%);
        background-size: 400% 400%;
        animation: change 50s ease-in-out infinite;
    }
    
    @keyframes change {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
       
    }   
}

h1,
h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}

em {
    font-style: normal;
    color: var(--accent-color);
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h2 {
    line-height: 2;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 2rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h3 {
      font-size: 5rem;
    }
  }

/* Nav-bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

/* resizing nav bar logos */
.my-logo,
.linkedin-logo,
.github-logo {
    cursor: pointer;
}

.my-logo {
    width: 40px;
    height: 36.8px;
}

.github-logo,
.linkedin-logo {
    width: 20px;
    height: 20px;
}

.linkedin-logo {
    margin-right: 10px;
}

.my-logo{
    animation-name: rotate-logo;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(00.5fr, 10 ,10, 0.5);
    animation-delay: 1s;
}

@keyframes rotate-logo {
    100% {transform: rotate(360deg);}
}

@media screen and (min-width: 1024px) {

    header {
        padding: 25px 50px 25px 50px;
    }

    .my-logo {
        width: 40px;
        height: 36.8px;
    }

    .github-logo,
    .linkedin-logo {
        width: 25px;
        height: 25px;
    }

    .linkedin-logo {
        margin-right: 20px;
    }

}

/* typography and positioning nav bar content */
.nav-links {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 0px;
}

.nav-links li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .nav-links {
        font-size: 1.5rem;
    }

    .nav-links li {
        margin-left: 30px;
        margin-right: 30px;
    }

    /* nav links hover over effect */

    .nav-links li a {
        transition: all 0.2s ease-in 0s;
    }
    
    .nav-links li a:hover {
        color: var(--accent-color);
    
    }

}

/* button */

.main-button {
    width: 128px;
    height: 43px;
    background: #FFFB6D;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #000000;
    border: none;
}


@media screen and (min-width: 1024px) {
    .main-button {
        cursor: pointer;
        width: 128px;
        height: 43px;
        transition: all 0.2s ease-in 0s;
    }

    .main-button:hover {
        transition: all 0.2s ease-out 0s;
        background-color: #F6F000

    }
}

/* landing page */

/* NOTE: 
    main {
        margin: 0px auto;
        width: 100%;
        max-width; 1600px;
        min-height: 100vh;
        padding: 200px
    } to keep everything centered in the screen */

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

 
.landing-page {
    margin-top: 25px;
    height: fit-content;
}

.landing-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-text, h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.my-resume-btn {
    margin-top: 30px;
}

.landing-portrait {
    margin-top: 20px;
    width: 30vw;
}

.next-page-icon {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

@media screen and (min-width: 1024px) {

    .landing-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }

    #intro {
        font-size: 2.5rem;
    }    

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    .landing-text {
        align-items: flex-start;
    }

    .landing-grid {
        flex-direction: row;
    }

    .landing-text, h1 {
        text-align:left;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .landing-text, h3 {
        margin-top: 20px;
    }

    .landing-portrait {
        margin-top: 20px;
        width: 312px;
        height: 391px;
        position: relative;
    }

    .next-page-icon {
        cursor: pointer;
        visibility: hidden;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }

    .next-page-icon{
        visibility: visible;
    }

    .next-page-icon {
        animation: next-section;
        animation: next-section 3s linear infinite;

    }

    @keyframes next-section {
        0% { translate: 0px 5px;}
        50% { translate: 0px -5px;}
        100% {translate: 0px 5px;}

    }

}

/* About Me */
.about-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.about-section h2 {
    text-align: center;
    padding-bottom: 50px;
}

.about-section p {
    line-height: 3rem;
}

.person-3d {
    width: 110px;

}

.about-mobile-view {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.about-mobile-view p {
    padding-top: 10px;
}

@media screen and (min-width: 820px) {
    .about-section {
        padding-top: 100px;
    }
    .about-section-grid {
        display: grid;
        grid-template-columns: 0.5fr 0.1fr 0.5fr;
    }

    .about-section p {
        font-size: 1.5rem;
    }

    .about-mobile-view p {
        padding-top: 0;

    }
    
    .person-3d {
        width: 250px;
    }

    .vertical-deco-line {
        margin: 0 auto;
        border: 1px solid #FFFB6D;
        background-color: var(--accent-color);
        border-radius: 40px;
        width: 5px;
        height: 420px;
        transform: rotate(180deg);
    }

}

/* Project section */

.project-section{
    padding-bottom: 50px;
}

.project-section-text {
    text-align: center;
}

.project-status-header {
    position: relative;
    padding: 15px 20px;

}

.file-icon, .github-project-icon {
    width: 20px;
}

.github-project-icon {
    position: absolute;
    right: 20px;
}

.project-card {
    background: linear-gradient(180deg, #102542 0%, rgba(16, 37, 66, 0.6) 98.28%);
    filter: drop-shadow(7px 8px 10px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    margin-top: 20px;
    width: 300px;
    height: 310px;
    position: relative;
}

.card-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.card-link::after{
    text-decoration: none;
    color: var(--secondary-color);
}



.project-name {
    background-color: #20537B;
    height: 40px;
    border-radius: 5px;
    
}

.project-name p {
    font-size: 1.8rem;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 20px;
}

.project-desc, .tech-used {
    padding-left: 20px;
    padding-right: 20px;
}

.project-desc {
    padding-top: 5px;

}

.project-desc, p {
    resize: none;
}

.tech-used {
    position: absolute;
    bottom: 3px;
}

.tech-used p {
    color: var(--accent-color);
    margin-bottom: 0px;
}

.project-card-grid {
    padding-top: 50px;
    display: grid;
    place-items: center;
}



@media  screen and (min-width: 890px){
    
    .project-card-grid {
        grid-template-columns: 1fr 1fr;
        padding-left: 100px;
        padding-right: 100px;
    }
    
}

@media screen and (min-width: 1340px) {

    .project-section{
        padding-top: 50px;
    }

    .project-card-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 0px;
        padding-right: 0px;
    }

    .project-card{
        border-radius: 10px;
    }

    .project-desc, p {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .project-card{
        transition: all 0.3s ease-out;
        
    }

    .project-card:hover{
        cursor: pointer;
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px var(--box-shadow-color);
    }

    .project-name {
        transition: all 0.3s ease-out;
    }

    .project-name:hover{
        background-color: var(--secondary-color);
    }
    
    .project-name:hover{
        color: var(--primary-color);
        font-weight: bold;
    }
}


/* contact section */

.contact {
    padding-top: 100px;
    position: relative;
}

.contact-call-to-action-text {
    text-align: start;
    padding-bottom: 10px;
}

.contact-person-img {
    width: 90px;
    position: absolute;
    right: 0px;
    bottom: -143px;
}

form {
    display: flex;
    flex-direction: column;
}

.person-details {
    align-items: flex-start;
}

.name-section, .email-section {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

input {
    border-radius: 5px;
    height: 40px;
    border: none;
    padding-left: 10px;
}

#message-box {
    padding: 10px 10px;
    border-radius: 5px;
    text-align: start;
    min-height: 120px;
    resize: none;
}

.form-status {
    padding-top: 15px;
    font-weight: bold;
    text-align: start;
    color: #9BFF99;
}

.send-button {
    color: rgb(88, 88, 88);
    background-color: gray;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;       
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }


@media screen and (min-width: 1340px) {

    form {
        padding-top: 50px;
    }


    .contact-person-img {
        width: 200px;
        position: absolute;
        right: 0px;
        bottom: -143px;
    }

    .person-details {
        display: grid;
        grid-template-columns: 1fr 2.4fr;
    }

    #message-box {
        font-size: 1.5rem;
        width: 800px;
        resize: vertical;
    }

    label {

        font-size: 1.5rem;
    }

    input {
        font-size: 1.5rem;
        width: 350px;
    }

    .send-button:hover{
        color: rgb(88, 88, 88);
        background-color: gray;
    }
}

/* footer */

footer {
    height: fit-content;
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-bottom: 40px;
    background-color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: var(--default);
}