:root {
    --primary-color: #011838;
    --secondary-color: #B6FCF8;
    --accent-color: #FFFB6D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--primary-color);
    color: var(--secondary-color);
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
    background-color: var(--primary-color);
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--secondary-color);
}

h1,
h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 7rem;
    }
  
    h3 {
      font-size: 4rem;
    }
  }