:root {
    --primary-color: #011838;
    --secondary-color: #B6FCF8;
    --accent-color: #FFFB6D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--primary-color);
    color: var(--secondary-color);
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
    background-color: var(--primary-color);
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--secondary-color);
}

h1,
h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 1.5rem;
    }
  
    h1 {
      font-size: 5rem;
    }
  
    h3 {
      font-size: 3rem;
    }
  }

/* Container */
.header-container {
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (min-width: 1024px) {

    .header-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: 5rem;
        width: 5rem;
    }

    .linkedin-logo,
    .github-logo {
        margin-top: 1.2rem;
        height: 3rem;
        width: 3rem;
    }

    .linkedin-logo {
        margin-right: 3.5rem;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;

    }

    li {
        margin-left: 6rem;
    }

}
