<!-- Project Card-->
                <div class="project-card" >
                    <a class="card-link" href="https://github.com/Vansitha/Project-Initializer" target="_blank" rel="noopener noreferrer">
                    <div class="card-content">
                        <div class="project-status-header">
                            <img class="file-icon" src="/assets/file-icon.png" alt="File Icon">
                            <img class="github-project-icon" src="/assets/github-project-icon.png" alt="GitHub Icon">
                        </div>
                        <div class="project-name">
                            <p>Automated Project Initializer</p>
                        </div>
                        <div class="project-desc">
                            <p>Automated the mundane task of creating a directory for a new project, initializing git, creating a repo on GitHub and connecting both with an initial commit.</p>
                        </div>
                        <div class="tech-used">
                            <p>Python</p>
                        </div>
                    </div>
                    </a>
                }</div>