
<!-- Project Card-->
<div class="project-card">
    <div class="card-content">
        <div class="project-status-header">
                <img class="file-icon" src="/assets/personal-project-icon.png" alt="File Icon">
                <img class="github-project-icon" src="/assets/loading.png" alt="GitHub Icon">
        </div>
        <div class="project-name">
            <p>File Server</p>
        </div>
        <div class="project-desc">
            <p>In the works!</p>
        </div>
        <div class="tech-used">
            <p>Java</p>
        </div>
    </div>
</div>