<div class="project-card">
    <a class="card-link" href="https://github.com/Vansitha/unix-pipe-simulator" target="_blank" rel="noopener noreferrer">
    <div class="card-content">
        <div class="project-status-header">
            <img class="file-icon" src="/assets/academic-project-icon.png" alt="File Icon">
            <img class="github-project-icon" src="/assets/github-project-icon.png" alt="GitHub Icon">
        </div>
        <div class="project-name">
            <p>Unix Pipe Simulator</p>
        </div>
        <div class="project-desc">
            <p>Utilized system calls and processes to construct a scaled-down version of the Unix pipe command functionality.</p>
        </div>
        <div class="tech-used">
            <p>C</p>
        </div>
    </div>
    </a>
</div>